.form__labelText {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    margin-right: 5px;
    text-align: left;
}

.form__field {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 250px;
    width: 100%;
    border-radius: 5px;
}

.form__field:required {
    background-color: rgb(229, 229, 229);
}

.form__button {
    width: 150px;
    background-color: hsl(218, 98%, 49%);
    color: white;
    padding: 5px;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 5px;
}

.form__button:hover {
    background-color:  hsl(218, 87%, 55%);
}

.form__button:active {
    background-color:  hsl(218, 87%, 65%);
}

.form__fieldset {
    background-color: rgb(161, 188, 248);
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    margin: 10px 0;
    box-shadow: 1px 1px 5px rgb(112, 111, 111);
    text-align: center;
}

.form__legend {
    background-color: hsl(218, 98%, 49%);
    color: white;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid black;
}