html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

#root {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(221, 218, 218);
  background-image: url("../public/cash.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}